.app-container {
    background-color: $main;
    font-family: robo;
    height: 100vh;
    .calc-app-container {
        height: 70vh;
        .calc-app {
            border-radius: 7px;
            border: 1px solid white;
            margin-top: 20px;
            background-color: $main;
            width: 100%;
            height: 100%;
            max-width: 300px;
            max-height: 500px;
        }
    }
}
.res-window-container {
    height: 40%;
    max-height: 140px;
    background-color: $secondryClr;
    padding-inline-start: 10px;
    .eval-nums {
        font-size: 2.5rem;
        height: 50%;
        align-items: center;
        color: rgba(255, 255, 255, 0.74);
    }
    .res-nums {
        color: white;
        font-size: 2rem;
        height: 50%;
        align-items: flex-end;
    }
    // border: none;
}
.nums-container {
    background-color: $main;
    color: white;
    border: 1px solid;
    height: 60%;
    height: 360px;
    width: 100&;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    border: none;
    .opr-btn {
        background-color: #fa980b;
        border-radius: 8px;
        border: 1px solid;
        font-size: 1.5rem;
    }
    button {
        font-size: 1.5rem;
        border-radius: 8px;
        background-color: $main;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border: 1px solid;
        text-align: center;
    }
}

@include for-narrow-layout {
    .opr-btn:hover {
        background-color: lighten($color: #fa980b, $amount: 10%);
    }
    .num-btn:hover {
        background-color: lighten($color: $main, $amount: 10%);
    }
}
