// Colors
$main: rgb(252, 172, 0);
$clr1: #222;
$clr2: #333;
$clr3: #fff;
$clr4: rgb(39, 38, 38);

$bsPrimary: #0275d8;
$bsSuccess: #5cb85c;
$bsInfo: #5bc0de;
$bsWarning: #f0ad4e;
$bsDanger: #d9534f;
$bsInverse: #292b2c;
$bsFaded: #f7f7f7;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
